#bob > img.sad {
    height: 140px;
}

#patrick > img.sad {
    height: 180px;
}

#carlos > img.sad {
    height: 200px;
    width: 90px;
    padding-bottom: 15px;
}

#bob > img.dance {
    animation: bobDance 0.8s infinite;
}

#carlos > img.dance {
    animation: carlosDance 0.7s infinite;
}

#patrick > img.dance {
    animation: patrickDance 0.85s infinite;
}

@keyframes patrickDance {
    0% { content: url("../images/dancing/patrick-dance-middle.png"); height: 180px; }
    50% { content: url("../images/dancing/patrick-dance-right.png"); height: 160px; }
    100% { content: url("../images/dancing/patrick-dance-middle.png"); height: 180px; }
}

@keyframes bobDance {
    0% { content: url("../images/dancing/bob-dance-left.png"); height: 165px; }
    25% { content: url("../images/dancing/bob-dance-middle.png"); height: 170px; }
    50% { content: url("../images/dancing/bob-dance-right.png"); height: 175px; }
    75% { content: url("../images/dancing/bob-dance-middle.png"); height: 170px; }
    100% { content: url("../images/dancing/bob-dance-left.png"); height: 165px; }
}

@keyframes carlosDance {
    0%  { content: url("../images/dancing/carlos-dance.png"); height: 220px; }
    50%  { content: url("../images/dancing/carlos-dance.png"); height: 230px; }
    100%  { content: url("../images/dancing/carlos-dance.png"); height: 220px; }
}

#audio {
    cursor: pointer;
}