body {
    background: url(../images/backgrounds/background.png) center fixed;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}

.board {
    display: grid;
    grid-template-columns: 120px 120px 120px 120px;
    grid-template-rows: 120px 120px 120px 120px;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    margin-left: calc((100% - (4 * 120px + 3 * 10px)) / 2);
    margin-right: calc((100% - (4 * 100px + 3 * 10px)) / 2);
    margin-top: 100px;
}

.square {
    border: 1px solid;
    border-radius: 10%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    border-color: gray;
    background-image: url(../images/backgrounds/card-background.png);
    background-size: cover;
    z-index: 3;
}

.cover {
    position: absolute;
    left: calc(((100% - (4 * 120px + 3 * 10px)) / 2) - 10px);
    margin-top: -10px;
    z-index: -1;
    height: calc(((4 * 120px + 3 * 10px) + 20px));
    width: calc(((4 * 120px + 3 * 10px) + 20px));
    background-color: white;
    opacity: 50%;
    border-radius: 5%;
}

.square > img {
    height: 80px;
    margin-bottom: 10px;
}
.square > img.squidward,
.square > img.pearl,
.square > img.krabs {
    height: 100px;
}
.square > img.sandy,
.square > img.puff,
.square > img.patrick {
    height: 90px;
}
.square > img.plankton {
    height: 70px;
}
.square > img.gary {
    height: 40px;
}

.square.hidden {
    cursor: pointer;
}
.square.hidden:hover {
    animation: blinking 0.5s linear infinite;
}
.hidden > img {
    visibility: hidden;
}

@keyframes blinking {
    0% {
        border-color: gray;
    }
    50% {
        border-color: white;
    }
    100% {
        border-color: gray;
    }
}

.form {
    position: absolute;
    top: 0;
    margin-top: 10px;
    text-align: center;

    width: 25%;
    background-color: white;
    opacity: 50%;
    margin-top: 10px;
    padding-top: 1px;
    padding-bottom: 10px;
    border-radius: 25px;
}
.buttons {
    position: absolute;
    top: 0;
    margin-top: 10px;
    text-align: center;

    width: 50%;
    margin-left: 25%;
}
.info {
    position: absolute;
    top: 0;
    margin-top: 10px;
    text-align: center;

    width: calc(25% - 20px);
    background-color: white;
    opacity: 50%;
    margin-top: 10px;
    padding-top: 1px;
    padding-bottom: 1px;
    margin-left: 75%;
    border-radius: 25px;
}
.alone {
    border-color: red;
}
.player1 {
    border-color: yellow;
}
.player2 {
    border-color: aqua;
}
