.character {
    position: absolute;
    display: flex;
    align-items: flex-end;
}

#bob {
    z-index: -10;
    right: 15%;
    bottom: 15%;

    height: 120px;
}

#patrick {
    z-index: -10;
    left: 10%;
    bottom: 20%;

    height: 150px;
    transform: rotateY(180deg);
}

#carlos {
    z-index: -5;
    left: 20%;
    bottom: 3%;

    height: 270px;
    transform: rotateY(180deg);
}
