.character {
    position: absolute;
    cursor: move;
    z-index: 1;
    bottom: 0;
    height: 190px;
    width: 140px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

#bob {
    right: 25%;
}

#patrick {
    left: 25%;
}

#carlos {
    left: 50%;
}

#bob > img,
#patrick > img {
    height: 150px;
}

#carlos > img {
    height: 190px;
}
