#jellyfish {
    position: absolute;
    display: flex;
    align-items: flex-end;
    z-index: -6;
}
#jellyfish.notHere {
    left: 150%;
    top: 100%;
    height: 500px;
}
#jellyfish.toPatrick {
    left: 10%;
    top: 72%;
    height: 180px;
    transition: left 1s, top 1s, height 1s;
}
#jellyfish.toBob {
    left: 75%;
    top: 75%;
    height: 190px;
    transition: left 1s, top 1s, height 1s;
}
#jellyfish.toSquidward {
    left: 18%;
    top: 82%;
    height: 300px;
    transition: left 1s, top 1s, height 1s;
    z-index: -5;
}
#jellyfish.isHere {
    left: 14%;
    top: 310px;
    height: 300px;
    transition: left 1s, top 1s, height 1s;
    z-index: -5;
}
#jellyfish.isHere.withBob {
    animation: withBob 0.7s normal;
}
#jellyfish.goAway {
    left: -50px;
    top: -50px;
    height: 50px;
    transition: left 1s, top 1s, height 1s;
    z-index: -5;
}
#jellyfish.goAway.fromPatrick {
    z-index: -7;
}
#jellyfish.goAway.withBob {
    animation: withBob 1s normal;
}
#jellyfish.goAwayRight {
    left: calc(100% + 50px);
    top: -50px;
    height: 50px;
    transition: left 1s, top 1s, height 1s;
}
#jellyfish.goAwayRight.withBob {
    animation: withBobAway 1s normal;
}
#jellyfish > img {
    height: 100%;
    animation: jellyfishMove 3s linear infinite;
}

#bob.playing,
#patrick.playing,
#squidward.playing {
    left: 18%;
    bottom: calc(100% - 400px);
    z-index: -4;
}

#bob.playing {
    height: 175px;
}
#bob.playing > img {
    transform: rotateY(180deg);
    animation: playerMove 2.5s linear infinite;
}
#bob.playing.invisible {
    animation: invisible 0.7s normal;
}
#bob.notHere {
    left: 120%;
    bottom: 20%;
    height: 165px;
    animation: disapear 1s normal;
}
#bob.playing.lost {
    /* height: 200px; */
}
#bob.playing.lost > img {
    /* content: url("../images/playing/patrick-lost.png"); */
}

#patrick.playing {
    height: 230px;
}
#patrick.playing > img {
    content: url("../images/playing/patrick-playing.png");
    animation: playerMove 2.5s linear infinite;
}
#patrick.playing.lost {
    height: 200px;
}
#patrick.playing.lost > img {
    content: url("../images/playing/patrick-lost.png");
}

#squidward.playing {
    height: 240px;
}
#squidward.playing > img {
    content: url("../images/playing/squidward-playing.png");
    transform: rotateY(180deg);
    margin-bottom: 20px;
    animation: playerMove 2.5s linear infinite;
}
#squidward.playing.lost > img {
    content: url("../images/playing/squidward-lost.png");
}

@keyframes jellyfishMove {
    0%  { width: 95%; height: 110%; }
    50%  {  width: 110%; height: 100%; }
    100%  { width: 95%; height: 110%; }
}

@keyframes playerMove {
    50%  { height: 107%; }
}

@keyframes withBob {
    0%  { content: url("../images/playing/bob-coming.png"); height: 200px; transform: translateY(-50px); }
    100%  { content: url("../images/playing/bob-coming.png"); height: 330px; transform: translateY(-100px); }
}

@keyframes withBobAway {
    0%  { content: url("../images/playing/bob-coming.png"); height: 330px; transform: rotateY(180deg) translateY(-100px); }
    100%  { content: url("../images/playing/bob-coming.png"); height: 100px; transform: rotateY(180deg); }
}

@keyframes invisible {
    0%  { visibility: hidden; }
    100%  { visibility: hidden; }
}

@keyframes disapear {
    0%  { visibility: hidden; }
    100%  { visibility: hidden; }
}
