#bob,
#patrick {
    z-index: -6;
}
#bob,
#patrick,
#carlos {
    position: absolute;
    display: flex;
    align-items: flex-end;
}

#bob {
    left: 75%;
    bottom: 12%;
    height: 135px;
    transition: left 1s, bottom 1s, height 1s;
}

#patrick {
    transform: rotateY(180deg);
    left: 10%;
    bottom: 20%;
    height: 165px;
    transition: left 1s, bottom 1s, height 1s;
}

#carlos {
    z-index: -4;
    transform: rotateY(180deg);
    left: 20%;
    bottom: 5%;
    height: 260px;
    transition: left 1s, bottom 1s, height 1s;
}
