#bob,
#patrick,
#carlos {
    position: absolute;
    display: flex;
    align-items: flex-end;
    z-index: -10;
}

#bob {
    right: 15%;
    bottom: 12%;
    height: 135px;
    transition: right 1s, bottom 1s, height 1s;
}

#patrick {
    transform: rotateY(180deg);
    left: 10%;
    bottom: 20%;
    height: 155px;
    transition: left 1s, bottom 1s, height 1s;
}

#carlos {
    transform: rotateY(180deg);
    height: 270px;
    left: 15%;
    bottom: 3%;
    z-index: -5;
}
