#bob,
#patrick {
    z-index: -6;
}

#bob,
#patrick,
#squidward,
#plankton,
#karen,
#bubblePlankton {
    position: absolute;
    display: flex;
    align-items: flex-end;
}

#bob,
#patrick,
#squidward {
    transition: left 1s, bottom 1s, height 1s;
}

#bob {
    left: 75%;
    bottom: 12%;
    height: 135px;
}

#patrick {
    transform: rotateY(180deg);
    left: 10%;
    bottom: 20%;
    height: 165px;
}

#squidward {
    z-index: -3;
    transform: rotateY(180deg);
    left: 20%;
    bottom: 5%;
    height: 260px;
}

#plankton {
    bottom: calc(10% + 385px);
    height: 100px;
    left: -225px;
    z-index: -4;
}

#karen {
    z-index: -5;
    bottom: 10%;
    height: 400px;
    left: -300px;
}

#plankton > img,
#karen > img,
#bubblePlankton > img {
    height: 100%;
}

#bubblePlankton {
    bottom: -90px;
    height: 80px;
    left: calc(14% + 75px);
    z-index: -4;
}
